.rating {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 16px;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__text {
    font-weight: 700;

    .movie-search & {
      font-size: 14px;
    }
  }
}
