@font-face {
  font-family: "Play";
  src: url("/fonts/Play/Play-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("/fonts/Play/Play-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
