@import "@/src/styles/fonts";
@import "@/src/styles/variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  font-family:
    "Play",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: calc(4 / 3);
}

#root {
  color: #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bg-top-gradient;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
  }
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@import "@/src/styles/app";
@import "@/src/styles/animations";
