// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-white-light-gray: #f0f0f0;
$color-white-dark-gray: #e0e0e0;
$color-cornflower-blue: #67a5eb;
$color-san-marino: #3c6ba1;
$color-heliotrope: #dc5dfc;
$color-cape-cod: #393b3c;
$color-melrose: #b4a9ff;

$color-white-80: rgba(255, 255, 255, 0.8);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-54: rgba(255, 255, 255, 0.54);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-33: rgba(255, 255, 255, 0.33);
$color-white-25: rgba(255, 255, 255, 0.25);

$color-black-80: rgba(0, 0, 0, 0.8);
$color-black-40: rgba(0, 0, 0, 0.4);

$color-cape-cod-50: rgba(57, 59, 60, 0.5);

$color-dark-bg: rgba(38, 38, 38, 0.5);

$color-dodger-blue: rgba(39, 135, 245, 0.18);

$color-portage: rgba(163, 147, 245, 0.18);

$color-mine-shaft: rgba(39, 36, 36, 0.7);

// Transition

$transition-3e: 0.3s ease;
$transition-5e: 0.5s ease;
$transition-15i: 1.5s infinite;

// Gradients

$bg-top-gradient: linear-gradient(
  178.73deg,
  $color-dodger-blue -17.53%,
  $color-portage 131.74%
);

$bg-bottom-gradient: linear-gradient(
  180deg,
  $color-black 0%,
  $color-mine-shaft 100%
);
