@import "@/src/styles/mixins";

.movie-list {
  width: 100%;
  $root: &;

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    column-gap: 40px;
    row-gap: 64px;

    @include respond-to("tablet") {
      column-gap: 28px;
      row-gap: 40px;
    }
  }

  .genre-page &,
  .search-page & {
    padding: 64px 0 0;

    @include respond-to("phone") {
      padding: 40px 0 0;
    }
  }

  &--searchable {
    .custom-input--miniature & {
      width: 100%;

      & #{$root}__list {
        flex-wrap: nowrap;
        align-items: flex-start;
      }
    }

    & #{$root}__list {
      width: 100%;
      gap: 16px;
    }

    & #{$root}__item {
      width: 100%;
    }
  }

  .home &,
  .account & {
    #{$root}__list {
      @include respond-to("phone") {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        overflow-x: scroll;
        margin: -100px -20px;
        padding: 100px 20px;
        scroll-snap-stop: unset;
        width: 100vw;
      }

      &::-webkit-scrollbar {
        @include respond-to("phone") {
          display: none;
        }
      }
    }
  }
}
